name: Build ZMK firmware

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: zmkfirmware/zmk-build-arm:stable

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: West init
        run: west init -l config

      - name: West update
        run: west update

      - name: Zephyr export
        run: west zephyr-export

      - name: Build (nice_nano_v2)
        run: |
          west build -s zmk/app -b promicro_nrf52840 -- -DZMK_CONFIG=/github/workspace/config

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: zmk-firmware
          path: build/zephyr/zmk.uf2
